<!-- filepath: /Users/admin/Library_Manage/backend/app/views/user_mailer/return_approved.html.erb -->
<p>
  Dear <%= @user.name %>,
</p>
<p>
  Your return request for the book "<%= @book.title %>" was <b>approved</b> by the librarian.<br>
  Thank you for using the library!
</p>