<!-- filepath: /Users/admin/Library_Manage/backend/app/views/user_mailer/return_rejected.html.erb -->
<p>
  Dear <%= @user.name %>,
</p>
<p>
  Your return request for the book "<%= @book.title %>" was <b>rejected</b> by the librarian.<br>
  Please contact the library for further assistance.
</p>